<%lexan=get_lexan(@worddiv)%>
<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= t('form.todo') %></h1>
        <%= render "form", lexical_analyzer: @lexical_analyzer%>
      <div>
        <h1><%= t('form.parser') %></h1>
        <div>
          <%= parse_statement_list(lexan)%><br>
        </div>
        <%string=lexan.drop(3)%>
        <%if string.first[:lexem_type]=='assign'%>
          <h1><%= t('form.rpn') %></h1>
          <%string=lexan.select {|v| v[:num_line]==1}%>
          <% rpn=poliz(string.drop(1))%>
          <% rpn.each do |operand|%>
            <%= operand[:lexema]%>
          <%end%>
          <h3><%= t('form.result') %></h3>
          <%= calc_poliz(rpn)%><br>
        <%end%>
      </div>
    </div>

    <div class="col">
      <h1><%= t('form.lexan') %></h1>
      <p><%= @lexical_analyzer.progtext %></p>

      <table>
        <tr>
         <th>N</th>
         <th>Program line</th>
         <th>lexem type</th>
         <th>lexema</th>
         <th>index in proper table</th>
       </tr>
        <% lexan.each do |item| %>
       <tr>
            <td><span class="mycount"></span></td>
            <td><%=item[:num_line]%></td>
            <td><%=item[:lexem_type]%></td>
            <td><%=item[:lexema]%></td>
            <td><%=item[:idx]%></td>
      </tr>
      <%end %>
      </table>
    </div>
  </div>
</div>
